<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage owners</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Owners</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/owner/new}">Add new owner</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone number</th>
                <th>Addres</th>
                <th></th>
            </thead>
            <tbody>
                <th:block th:each="owner : ${listOwners}">
                    <td>[[${owner.id}]]</td>
                    <td>[[${owner.firstName}]]</td>
                    <td>[[${owner.lastName}]]</td>
                    <td>[[${owner.phone}]]</td>
                    <td>[[${owner.address}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/owner/edit/' + ${owner.id}}">Edit</a>
                        <a class="h4" th:href="@{'/owner/delete/' + ${owner.id}}">Delete</a>
                    </td>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>